h3 {
    position: relative;
    background-color: #B3AEAD;
    padding: 10px 10px 10px 10px;
    z-index: 1;
}
.foto_perfil {
    height: 100px;
    border: 5px solid rgba(101, 183, 204, 0.288);
    border-radius: 5px;
    grid-column: 3 / 4;
    grid-row: 1;
    margin: 5px;
    justify-self: center;
    z-index: 2;
    background-color: white;
}

#datos {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    row-gap: 10px;
}
.izquierda {
    grid-column: 1/2;
    font-weight: bold;
    margin-right: 10px;
}
.derecha {
    grid-column: 2/4;
    border-left:2px #B3AEAD solid;
    padding-left: 10px;
}
h3 {
    grid-column: 1/4;
    grid-row: 1;
    background-color: #B3AEAD;
    padding: 10px 10px 10px 10px;
    align-self: center;
    z-index: 1;
}

.notbold {
    font-weight: normal;
}

