.wrap {
    max-width: 1000px;
    margin: 100px auto 100px auto;
    padding: 50px;
    border: 2px #B3AEAD solid;
    display: grid;
    grid-template-columns: repeat(10, [col] 10%);
    row-gap: 20px;
    font-family:'Varela Round', sans-serif;

}
.main {
    grid-column: col / span 10;
}

.barraMenu {
    border-top: 2px #B3AEAD solid;
    border-bottom: 2px #B3AEAD solid;
    background-color: rgba(101, 183, 204, 0.288);
}

header {
    text-align: center;
    margin-bottom: 20px;
}
header a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 2cm;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 20% );
    height: 70px;
}
nav a {
    text-decoration: none;
    color: #B3AEAD;
}

nav a:hover {
    color: black;
    border-bottom: 2px #B3AEAD solid; 
}
.home {
    grid-column: 2/3;
}
.cv {
    grid-column: 3/4;
}
.contacto{
    grid-column: 4/5;
}

.posMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin-top: 20px;
    text-align: justify;
}

footer {
    height: 30px;
    display: flex;
    justify-content: end;   
    padding: 5px; 
    padding-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
}
footer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


@media all and (max-width: 700px) {
    nav {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 130px;
    }

    .home {
        grid-column: 2;
        grid-row: 1;
        margin: 10px;
        
    }
    .cv {
        grid-column: 2;
        grid-row: 2;
        margin: 10px;

    }
    .contacto{
        grid-column: 2;
        grid-row: 3;
        margin: 10px;

    }

}

