section {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: 20px;
   
}

.texto {
    border: 5px #65b7cc49 solid;
    padding-right: 10px;
    padding-left: 10px; 
}
.radio {
    border-radius: 10px;
}
.texto_principal {
    grid-column: 1 / 4;
    grid-row: 1;
    margin-right: 10px;
}
.foto_principal {
    grid-column: 4 / 5;
    grid-row: 1;

}
section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.foto_izq {
    grid-column: 1 / 2;
    grid-row: 2;
} 

.foto_der {
    grid-column: 4 / 5;
    grid-row: 2;
    
}
.foto_secundaria {
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto_secundario {
    grid-column: 2 / 4;
    grid-row: 2;
    margin: 10px;
}
.logo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media all and (max-width: 700px) {
   
    .texto_principal {
        grid-column: 1 / 5;
        grid-row: 1;
        margin-right: 10px;
    }
    .foto_principal {
        grid-column: 1 / 5;
        grid-row: 2;
        height: 100px;
    
    }
    .texto_secundario {
        grid-column: 1 / 5;
        grid-row: 3;
        margin: 10px;
    }
    .foto_izq {
        grid-column: 1 / 3;
        grid-row: 4;
        height: 150px;
    } 
    
    .foto_der {
        grid-column: 3 / 5;
        grid-row: 4;
        margin: 10px;
        height: 150px;
    }

    .texto_principal, .texto_secundario {
        margin: 0px;
    }
    .foto_der, .foto_izq{
        margin-top: 0;
    }

}
